*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0)), url(climb.jpg);
    background-position: center;
    background-size: cover;
}

.topheadings {
    display: flex;
    margin: auto;
    float: right;
    margin-top: 15px;
    margin-right: 40px;
}


.logo{
    margin-right: 393px;
    margin-top: 10px;
    position: relative;
}
.logo2{
    margin-top: 10px;
    position: absolute;
    margin-right: 393px;
    opacity: 0;
    transform: translate3d(0, 0, 50px)
}

.logo2:hover {
    opacity: 1.0;
    transition: opacity .45s ease-in-out;   
    transform: translate3d(0, 0, 0)  
}


.topheadings ul li{
    display: inline-block;
    margin: 30px;
    position: relative;
    
}
.topheadings ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
    font-size: 18px;   
}
.topheadings ul li::after{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    background: gainsboro;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    transform: scaleX(0);
}
.topheadings ul li:hover::after{
    transform: scaleX(1)
}
.mytitle {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 45%;
    bottom: 55%;
    color: white;
   
}
.mytitle h1 {
    font-size: 70px;
    font-weight: lighter;    
}