*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(IMG_3112.jpg);
    background-position: center;
    background-size: cover;
}

form{
    width: 90%;
    max-width: 600px;
}

.input{
    margin-bottom: 35px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background: transparent;
}
label{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    transition: 0.2s;
}

button{
    width: 100%;
    color: white;
    background: transparent;
    border: 1px white solid;
    cursor: pointer;
    padding: 10px;
}

.topheadings {
    display: flex;
    margin: auto;
    float: right;
    margin-top: 15px;
    margin-right: 40px;
    
}

input:focus~label, textarea:focus~label, input:valid~label, textarea:valid~label{
    top: -35px;
    font-size: 13.5px;
}

.fullname{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullname .input{
    flex-basis: 48%;
}


.logo{
    margin-right: 393px;
    margin-top: 10px;
    position: relative;
}
.logo2{
    margin-top: 10px;
    position: absolute;
    margin-right: 393px;
    opacity: 0;
    transform: translate3d(0, 0, 50px)
}

.logo2:hover {
    opacity: 1.0;
    transition: opacity .45s ease-in-out;   
    transform: translate3d(0, 0, 0)  
}


.topheadings ul li{
    display: inline-block;
    margin: 30px;
    position: relative;
    
}
.topheadings ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
    font-size: 18px;   
}
.topheadings ul li::after{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    background: gainsboro;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    transform: scaleX(0);
}
.topheadings ul li:hover::after{
    transform: scaleX(1)
}

form {
    position: absolute;
    top: 250px;
    
    
}










